
.card {
    text-align: center;
    width: 300px;
    height: 300px;
    border: 2px solid black;
    border-radius: 200px;
    padding: 10px;
    margin: 10px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1, h2 {
    text-align: center;
}

.scoreIn {
    width: 50px;
}

.card0 {
    background-color: gold;
    text-align: center;
    width: 300px;
    height: 300px;
    border: 2px solid black;
    border-radius: 200px;
    padding: 10px;
    margin: 10px;
}

.card1 {
    background-color: silver;
    text-align: center;
    width: 300px;
    height: 300px;
    border: 2px solid black;
    border-radius: 2000px;
    padding: 10px;
    margin: 10px;
}

.card2 { 
    background-color: rgb(191, 128, 64);
    text-align: center;
    width: 300px;
    height: 300px;
    border: 2px solid black;
    border-radius: 200px;
    padding: 10px;
    margin: 10px;
}

.leaderboardImg {
    height: 110px;
    width: 150px;
}

.displayName {
    /* padding-bottom: 10px; */
}

.displayScore {
    padding-top: 20px;
}

.filler {
    height: 110px;
    width: 150px;
}



