/* .card {
    text-align: center;
    width: 200px;
    height: 200px;
    border-radius: 15px;
    padding: 10px;
    margin: 10px;
} */

.container {
    display: flex;
}

h1, h2 {
    text-align: center;
}

.scoreIn {
    width: 50px;
}

.center {
    justify-content: space-between;
}

.mainAdminHead {
    padding: 40px
}


